
<section>
    <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center" Width="100%">
        <h2>Nuestros Servicios</h2>
        <p>Ofrecemos consultoría especializada y formación en Blazor para ayudarte a alcanzar tus objetivos tecnológicos.</p>
        <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center" Width="100%">
            <FluentCard Style="background-color: #6A1B9A; color:white;text-align:center;height: 15vh;">
                <p><FluentIcon Value="@(new Icons.Regular.Size48.AppGeneric())" Color="@Color.Lightweight" /></p>
                <p>Consultoría en Blazor</p>
            </FluentCard>
            <FluentCard Style="background-color: #6A1B9A; color:white;text-align:center;height: 15vh;">
                <p><FluentIcon Value="@(new Icons.Regular.Size48.AppFolder())" Color="@Color.Lightweight" /></p>
                <p>Desarrollo de aplicaciones Blazor</p>
            </FluentCard>
            <FluentCard Style="background-color: #6A1B9A; color:white;text-align:center;height: 15vh;">
                <p><FluentIcon Value="@(new Icons.Regular.Size48.Apps())" Color="@Color.Lightweight" /></p>
                <p>Formación y talleres especializados</p>
            </FluentCard>
            <FluentCard Style="background-color: #6A1B9A; color:white;text-align:center;height: 15vh;">
                <p><FluentIcon Value="@(new Icons.Regular.Size48.Alert())" Color="@Color.Lightweight" /></p>
                <p>Soporte y mantenimiento</p>
            </FluentCard>
        </FluentStack>
    </FluentStack>
</section>
