
<section>    
    <FluentGrid Spacing="3" AdaptiveRendering="true" Justify="JustifyContent.Center">
        <FluentGridItem xs="6" md="3">
            <FluentCard Style="background-color: #6A1B9A; color:white;text-align:center;min-height:90px;max-height:350px;">
                <h2><FluentIcon Value="@(new Icons.Regular.Size48.AppGeneric())" Color="@Color.Lightweight" /></h2>
                <h2>Consultoría en Blazor</h2>
            </FluentCard>
        </FluentGridItem>
        <FluentGridItem xs="6" md="3">
            <FluentCard Style="background-color: #6A1B9A; color:white;text-align:center;min-height:90px;max-height:350px;">
                <h2><FluentIcon Value="@(new Icons.Regular.Size48.AppFolder())" Color="@Color.Lightweight" /></h2>
                <h2>Desarrollo de aplicaciones Blazor</h2>
            </FluentCard>
        </FluentGridItem>
        <FluentGridItem xs="6" md="3">
            <FluentCard Style="background-color: #6A1B9A; color:white;text-align:center;min-height:90px;max-height:350px;">
                <h2><FluentIcon Value="@(new Icons.Regular.Size48.Apps())" Color="@Color.Lightweight" /></h2>
                <h2>Formación y talleres especializados</h2>
            </FluentCard>
        </FluentGridItem>
        <FluentGridItem xs="6" md="3">
            <FluentCard Style="background-color: #6A1B9A; color:white;text-align:center;min-height:90px;max-height:350px;">
                <h2><FluentIcon Value="@(new Icons.Regular.Size48.Alert())" Color="@Color.Lightweight" /></h2>
                <h2>Soporte y mantenimiento</h2>
            </FluentCard>
        </FluentGridItem>
    </FluentGrid>
</section>
